@model IEnumerable<WebStore.Models.Employee>

<a asp-controller="Employees" asp-action="Edit" class="btn btn-default">Создать</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th></th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td><a asp-controller="Employees" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
            <td>@item.SurName</td>
            <td>@item.FirstName</td>
            <td>@item.Patronymic</td>
            <td>@item.Age</td>
            <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">Детали</a></td>
            <td><a asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times text-danger"></i></a></td>
        </tr>
        }
    </tbody>
</table>